<h1>LOGIN</h1>

<form action="/signIn" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Submit</button>
</form>